.home__div{
    background:white;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1;
  }

  .avatar__img{
    width:100%;
    max-width:550px;
    padding-top: 5em;
  }
  
  .banner__text{
    background-color: rgb(71, 71, 71);
    opacity: .8;
    width: 75%;
    margin:auto;
    border-radius: 10px;
    text-align: center;
  }
  
  .banner__text h1{
    font-size: 66px;
    font-weight: bold;
    color:white;
    width:100%;
   
  }
  @media screen and (max-width:600px){
      .banner__text h1{
        font-size:30px;
      }
      .bio__button{
        margin-left:20%;
        margin-right:20%;
      }
      .bio__button p{
        font-size: 10px;
      }
  }
  .banner__text hr{
    border-top: 5px dotted white;
    width:50%;
    margin:auto;
  }
  
  .banner__text p{
    color:white;
    font-size: 20px;
    padding:1em;

  }

  .bio__button:hover{
    color:orange;
    cursor: grab;
    

  }
  .bio__button{
    background-color: rgb(71, 71, 71);
    opacity: .8;
    color:white;
    border-radius: 10px;
    text-align: center;
    margin-left: 40%;
    margin-right:40%;
  }
  .bio__button p{
    font-size: 2em;;
  }

